.pagination {
  margin-top: 35px;

}

#pagination {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 8px; 
  flex-wrap: nowrap; 
}

#pagination a,
#pagination .current-page {
  width: 48px; 
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $black;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: $white;
  font-weight: 700;
}

#pagination .current-page {
  background-color: $primary-color;
  color: $white;
  pointer-events: none; 
}

#pagination a:hover {
  background-color: $primary-color;
  color: $white;
}

#pagination a.pagination-arrow {
  background-color: transparent; 
}