.hero {
  position: relative;
  height: 743px; // Height of the banner on desktop
  background-image: url('../fundament-media/assets/images/hero-home.png');
  background-size: cover;
  background-position: bottom;

  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $white;

    h1 {
      @include responsive-font-size(28px, $font-size-h1); // Responsive font size
      font-weight: $font-weight-bold;
      color: $white !important;
      line-height: 50px;
    }

    p {
      font-size: $font-size-body;
    }

    .cta-buttons {
      display: flex;
      gap: 16px;
      justify-content: center;
      margin-top: 24px;

      a {
        @include button; // Use the mixin for buttons
      }

      .button-outline {
        @include button-outline; // Use the mixin for outline buttons
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    height: 824px; // Reduce banner height on mobile

    .hero-text {
      top: 35%;
      width: 90%;
      h1 {
        font-size: 20px; // Font size on mobile
        
      }
    }
  }
  .blog-container {
  h2 {
    text-align: left !important;
  }
}
}
